<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>jdeb-signing</id>
            <properties>
                <jdeb.signPackage>true</jdeb.signPackage>
                <jdeb.keyring>/home/raven/.gnupg/secring.gpg</jdeb.keyring>
                <jdeb.key>secret</jdeb.key>
                <jdeb.passphrase>sectret</jdeb.passphrase>
            </properties>
        </profile>

        <profile>
            <id>gpg-signing</id>
            <properties>
                <gpg.keyname>AKSW</gpg.keyname>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jdeb-signing</activeProfile>
        <activeProfile>gpg-signing</activeProfile>
    </activeProfiles>


    <servers>
        <server>
            <id>AKSW.GPG</id>
            <passphrase>secret</passphrase>
        </server>

        <server>
            <id>maven.aksw.internal</id>
            <username>ClausStadler</username>
            <password>secret</password>
        </server>
        <server>
            <id>maven.aksw.snapshots</id>
            <username>ClausStadler</username>
            <password>secret</password>
        </server>
    </servers>

</settings>
